// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  background-color: #000000;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  text-decoration: none;}

h1, h2, h3 {
  color: #ec0d0d;
  margin-bottom: 1.5rem;
}


.movie-list {
  background-color: #1a1a1a;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  padding: 1rem;
  margin-bottom: 1.5rem;
  transition: transform 0.2s;
  color: #ffffff; 
  &:hover {
    transform: translateY(-2px);
  }
}

// Links
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// Botões customizados
.btn-custom {
  margin-right: 0.5rem;
}

// Ajuste para formulários
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
